.vscode/
fse-trabalho3-adnecaiogabriel/build
fse-trabalho3-adnecaiogabriel/.devcontainer
fse-trabalho3-adnecaiogabriel/.vscode
fse-trabalho3-adnecaiogabriel/sdkconfig
fse-trabalho3-adnecaiogabriel/sdkconfig.old